<style>
.log {
	font-family: monospace;
	padding: 5px;
}
.log-skipped:hover {
	cursor: pointer;
	background-color: #f9f9f9;
}
.ln {
	border-right: 1px solid #aaa;
	padding-left: 5px;
	padding-right: 5px;
}
.lc {
	width: 100%;
	word-wrap: break-word !important;
	word-break: break-all;
	white-space: pre-wrap;
	padding-left: 5px;
	padding-right: 5px;
}
.lm {
	background-color: #f7ecb5;
}
.le {
	background-color: #e4b9b9;
}
</style>
<div class="container" ng-controller="LogCtrl">
	<a id="top"></a>
	<div class="row">
		<div class="col-md-offset-4 col-md-8 text-right">
			<button ng-click="showBegin()" class="btn btn-default" ng-show="skipped" title="Show first"><i class="glyphicon glyphicon-arrow-up"></i></button>
			<button ng-click="showEnd()" class="btn btn-default" ng-show="showend" title="Show last"><i class="glyphicon glyphicon-arrow-down"></i></button>
			<a class="btn btn-default" target="_blank" href="/rawlog/{{url}}">Raw</a>
		</div>
	</div>
	&nbsp;
	<div class="row">
		<div class="col-md-12">
			<table class="container-fluid well well-sm log" infinite-scroll="appendMore()">
				<tr ng-show="skipped">
					<td class="ln">&nbsp;</td>
					<td class="lc col-md-12 log-skipped" ng-click="prependMore()">... Skipped ...</td>
				</tr>
				<tr ng-repeat="line in log track by $index" id="#L{{line.number}}">
					<td class="ln text-right"><a name="L{{line.number}}" href="/log/{{url}}#L{{line.number}}">{{line.number}}</td>
					<td class="lc" ng-class="{lm: line.select, le: line.error}">{{line.content}}</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-offset-10 col-md-2 text-right">
			<button ng-click="gotoTop()" class="btn btn-link">Go to top</button>
		</div>
	</div>
</div>
