<ul class="dropdown-menu col-md-12" role="listbox"
	ng-show="isOpen() && !moveInProgress"
	ng-style="{top: position().top+'px', left: position().left+'px'}"
	style="display: block;" aria-hidden="{{!isOpen()}}">
	<li role="option" id="{{::match.id}}"
		ng-repeat="match in matches track by $index"
		ng-class="{active: isActive($index) }"
		ng-mouseenter="selectActive($index)"
		ng-click="selectMatch($index)">
		<a href="/task/{{ match.model.TaskID }}">
			<div class="row">
				<div class="col-md-8">{{ match.model.TaskID }} by <b><i>{{ match.model.Owner }}</b></i></div>
				<div class="col-md-4">
					<span ng-bind-html="match.model.State | convertState"></span>
					<!-- span class="label label-{{ match.model.label }}">{{ match.model.State }}</span -->
				</div>
			</div>
		</a>
	</li>
</ul>
